/* Page background */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    background: linear-gradient(to bottom, #b8e6ff, #dff7ff);
    font-family: "Poppins";
    margin: 0 ;
    padding: 30px;
}

/* Main content box */
.container {
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

/* Main heading */
h1 {
    text-align: center;
    color: darkgreen;
}

/* Section headings */
h2 {
    color: darkblue;
}

/* Paragraphs */
p {
    color: #2f5d2f;
    font-size: 18px;
    line-height: 1.6;
}

/* Hobby list */
ul {
    color: #333;
    font-size: 18px;
}

/* Image styling */
img {
    display: block;
    margin: 20px auto;
    border: 10px solid darkblue;
    border-radius: 25px;
}

/* Link */
a {
    display: inline-block;
    margin-top: 20px;
    background-color: darkgreen;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

/* Hover effect */
a:hover {
    background-color: seagreen;
    text-decoration: underline;
}

button{
  background-color: orange;
  color: black;
  padding: 12px 20px;
  margin: 10px;
  
}

button:hover{
  background-color: white;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

nav {
    margin-top: 15px;
}

nav a {
    margin: 0 10px;
}

section {
    margin-bottom: 35px;
}

.card {
    background-color: #f4f8ff;
    border: 2px solid #c8dfff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
}

.card h3 {
    color: darkblue;
    margin-top: 0;
}

button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}