@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background: linear-gradient(to bottom, #b8e6ff, #dff7ff);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 30px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

header {
  text-align: center;
  margin-bottom: 25px;
}

h1 {
  color: darkgreen;
}

h2 {
  color: darkblue;
}

nav {
  margin-top: 15px;
}

nav a {
  margin: 0 12px;
  color: darkblue;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: darkgreen;
  text-decoration: underline;
}

section {
  margin-bottom: 35px;
}

p {
  color: #2f5d2f;
  font-size: 18px;
  line-height: 1.6;
}

ul {
  color: #333;
  font-size: 18px;
}

img {
  display: block;
  margin: 20px auto;
  border: 10px solid darkblue;
  border-radius: 25px;
}

a {
  display: inline-block;
  margin-top: 20px;
  background: darkgreen;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  background: seagreen;
}

button {
  background: orange;
  color: black;
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: white;
}

hr {
  margin: 30px 0;
}